@model IEnumerable<Meetzy.Application.UseCases.Communities.Queries.GetAllCommunities.GetAllCommunitiesResponse>

@{
    ViewData["Title"] = "Communities";
}

<h1>Communities</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Created At</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Name</td>
                <td>@item.Description</td>
                <td>@item.CreatedAt</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.CommunityId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.CommunityId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.CommunityId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>